:host {
  padding-left: var(--max-padding-lr);
  padding-right: var(--max-padding-lr);
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
}
:host(.innerContent) {
  padding: 0;
}
