:host {
  display: flex;
  gap: 1em;
  position: relative;
  list-style: none;
  .nav-base-item {
    a {
      padding: 8px 12px;
      border-radius: 3px;
      transition: 300ms ease-in-out;
      p {
        font-weight: 400;
      }
      svg {
        height: 20px;
        width: 20px;
        margin-top: -4px;
        transition: 300ms ease-in-out;
      }
    }
    a:hover {
      background-color: var(--text-color);
      color: var(--text-white);
    }
    a:hover svg {
      rotate: 180deg;
    }
    .sub-nav-item {
      display: none;
      li:first-child {
        margin-top: 0.5em;
      }
    }
    &:has(.sub-nav-item):hover .sub-nav-item {
      display: flex;
    }
  }
}
:host(.sub-nav-item) {
  position: absolute;
  flex-direction: column;
  gap: 0;
}
:host:not(.sub-nav-item) {
  max-width: var(--max-width);
  padding-left: var(--max-padding-lr);
  padding-right: var(--max-padding-lr);
  margin: auto;
}
